<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ServerAdress" value="185.92.2.75\PROGRESS"/>
		<add key="DatabaseName" value="StudentApp"/>
		<add key="UsrName" value="sa"/>
		<add key="Pw" value="College57_951357"/>
	</appSettings>
<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>
</configuration>
